@model User
@inject UserManager<User> userManager
@inject FB_Project_DB_Model_int_Key.Data.ApplicationDbContext dbContext
@{
    Layout = "~/Views/Shared/_MemberLayout1.cshtml";
    ViewData["Title"] = "Profile";
    var currentUser = await userManager.GetUserAsync(User);
}

<div class="d-block d-md-flex col-12">
    <div class="col-lg-5 col-sm-12 text-center d-block" style="border-right-color:lightgray; border-right-style:solid; border-right-width:1.5px;">
        <div class="col-12 d-flex">
            <div style="max-width:10%; flex:10%"></div>
            <div class="col-10">
                @if (Model.Photo == null)
                {
                    <img src="~/Images/bubble.jpeg" class="img-fluid mb-3" />
                }
                else
                {
                    <img src="data:image/*;base64,@Convert.ToBase64String(Model?.Photo)" class="img-fluid col-10 mb-3" />
                }
                @if (Model.Id == currentUser.Id)
                {

                    <!-- Button trigger Upload Photo modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#photoModal">
                        Upload Photo
                    </button>                    
                }

            </div>
        </div>
       
        <hr />
        <div class="text-md-left offset-3">
            <label><i class="fas fa-user"></i>  @Model.UserName</label>

            <br />
            @{ var bdate = Model.BirthDate.Date;}
            <label class="mr-2"><i class="fas fa-birthday-cake"></i> : @bdate.Day / @bdate.Month / @bdate.Year </label>
            @if (Model.Gender == 'M')
            {
                <label><b>Gender</b> : <i class="fas fa-male"></i> </label>
            }
            else
            {
                <label><b>Gender</b> : <i class="fas fa-female"></i> </label>
            }
            <br />
            <label><i class="fas fa-book-reader"></i> Bio : @Model.BIO</label>
            <br />
        </div>
        @if (Model.Id == currentUser.Id)
        {
            <button type="button" class="btn btn-outline-primary shadow" data-toggle="modal" data-target="#EditModal">Update Info</button>
        }

        <hr />
        <!-- Friend Request-->
        @if (Model.Id == currentUser.Id)
        {
            <div class="shadow-sm" style="border:solid 1px lightgray;">
                <h5 class="border border-secondary text-dark text-center shadow"><i class="fas fa-user-friends"></i> Friend Requests</h5>
                <div>
                    @foreach (var item in Model.FriendRequests)
                    {
                        <div class="col-12 d-flex">
                            <span class="col-3">
                                @if (item.reqFriend?.Photo == null)
                                {
                                    <img src="~/Images/bubble.jpeg" class="img-fluid" />
                                }
                                else
                                {
                                    <img src="data:image/*;base64,@Convert.ToBase64String(item.reqFriend?.Photo)" class="img-fluid" />
                                }
                            </span>
                            <span class="col-3 align-self-sm-center">
                                <a href="/Member/Profile/@item.ReqId" class="h5 text-primary">@item.reqFriend?.UserName</a>
                            </span>
                            <form class="col-3 align-self-sm-center" action="/Member/Accept/@item.ReqId">
                                <input type="submit" value="Accept" class=" btn btn-success p-1" />
                            </form>
                            <form class="col-3 align-self-sm-center" action="/Member/Reject/@item.ReqId">
                                <input type="submit" value="Reject" class=" btn btn-danger p-1" />
                            </form>
                        </div>
                        <hr />
                    }
                </div>
            </div>
        }
        <br />
        <!-- Friend List-->
        <div class="shadow-sm" style="border:solid 1px lightgray;">
            <h5 class="border border-secondary text-dark text-center shadow"><i class="fas fa-users"></i> Friends</h5>
            <table class="table table-hover">
                <tbody>
                    @foreach (var item in Model.Friends)
                    {
                        <tr class="d-flex">
                            <td class="col-4">
                                @if (item.Friend?.Photo == null)
                                {
                                    <img src="~/Images/bubble.jpeg" class="img-fluid col-12" />
                                }
                                else
                                {
                                    <img src="data:image/*;base64,@Convert.ToBase64String(item.Friend?.Photo)" class="img-fluid col-12" />
                                }
                            </td>
                            <td class="d-flex col-4 align-content-sm-center">
                                <a href="/Member/Profile/@item.FriendId" class="align-self-sm-center h5 text-primary">@item.Friend?.UserName</a>
                            </td>
                            <td class="d-flex col-4 align-content-sm-center">
                                <form method="post" action="/Member/UnFriend/@item.FriendId" class="align-self-sm-center">
                                    <input type="submit" value="UnFriend" class=" btn btn-outline-danger" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <hr />
    <!-- User Posts-->
    <div class="col-lg-7 col-sm-12 d-lg-block">
        @{
            if (Model.Id == currentUser.Id)
            {
                <form method="post" action="/Member/AddPost">
                    <textarea type="text" name="postText" placeholder="Post something cool!" class="form-control text-wrap"></textarea>
                    <input type="submit" value="Post" class="btn btn-block btn-outline-primary" />
                </form>
            }
            else
            {
                bool isFriend = currentUser.Friends.Any(f => f.FriendId == Model.Id && f.UserId == currentUser.Id);
                bool hasRequest = currentUser.FriendRequests.Any(r => r.ReqId == Model.Id && r.UserId == currentUser.Id);
                bool isRequest = dbContext.FriendRequests.Any(r => r.ReqId == currentUser.Id && r.UserId == Model.Id);
                if (isFriend)
                {
                    <form method="post" action="/Member/UnFriend/@Model.Id">
                        <input type="submit" value="UnFriend" class=" btn btn-block btn-danger rounded" />
                    </form>
                }
                else if (hasRequest)
                {
                    <div class="btn btn-block btn-group">
                        <form action="/Member/Accept/@Model.Id" class="btn btn-group">
                            <input type="submit" value="Accept" class=" btn btn-block btn-success rounded" />
                        </form>
                        <form class="btn btn-group" action="/Member/Reject/@Model.Id">
                            <input type="submit" value="Reject" class=" btn btn-block btn-danger rounded" />
                        </form>
                    </div>
                }
                else if (isRequest)
                {
                    <form method="post" action="/Member/CancelRequest/@Model.Id">
                        <input type="submit" value="Cancel Request" class=" btn btn-block btn-outline-danger rounded" />
                    </form>
                }
                else
                {
                    <form method="post" action="/Member/AddFriend/@Model.Id">
                        <input type="submit" value="Add Friend" class=" btn btn-block btn-primary rounded" />
                    </form>
                }
            }
        }


        <br />
        @foreach (var item in Model.Posts.OrderByDescending(p => p.Date))
        {
            <hr />
            <!--Post-->
            <div class="shadow-sm" style="border: 2px solid lavender;">
                <div class="d-flex mt-2">
                    <!--user and post info-->
                    <div class="col-2 align-self-center">
                        @if (item.User?.Photo == null)
                        {
                            <img src="~/Images/bubble.jpeg" class="img-fluid rounded-circle" />
                        }
                        else
                        {
                            <img src="data:image/*;base64,@Convert.ToBase64String(item.User?.Photo)" class="img-fluid rounded-circle" />
                        }
                    </div>
                    <div class="col-5 text-left pl-0">
                        <a href="/Member/Profile/@item.User.Id" class="h5 col-12 d-block m-0 p-0 text-primary">@item.User.UserName</a>
                        <p class="text-secondary">@item.Date</p>
                    </div>
                    <div class="col-4"></div>
                    <div class="col-1">
                        @if (User.Identity.Name == item.User.UserName)
                        {
                            <a href="/Member/DeleteAPost/@item.PostID" class="h5">&times;</a>
                        }
                    </div>
                </div>

                <div class="p-3">
                    @item.BodyText
                </div>
                <!-- Likes-->
                <div class="d-flex">
                    <div class="ml-3"></div>
                    @if (item.PostLikes.Any(p => p.PostId == item.PostID && p.UserId == currentUser.Id))
                    {
                        <form method="post" action="/Member/DisLike/@item.PostID">
                            <input type="submit" value="&hearts;" class="btn btn-danger likebtn" />
                        </form>
                    }
                    else
                    {
                        <form method="post" action="/Member/Like/@item.PostID">
                            <input type="submit" value="&hearts;" class="btn btn-outline-danger likebtn" />
                        </form>
                    }
                    <a class="btn btn-danger text-white likebtn" href="/Member/LikesList/@item.PostID" data-ajax-update="#LikesListBody" data-ajax-success="OnSuccess()" data-ajax-method="Get" data-ajax="true" data-ajax-mode="replace">@item.PostLikes.Count</a>
                </div>
                <hr />
                <div>
                    <form action="/Member/AddComment/@item.PostID" class="d-flex mb-3">
                        <input type="text" placeholder="Write a Comment " name="comment" class="col-9 mx-2 ml-4 form-control" />
                        <input type="submit" value="Comment" class="btn btn-sm p-0 btn-primary col-2" />
                    </form>
                </div>
                <!--Comments-->
                @foreach (var comment in item.Comments)
                {
                    <hr />
                    <div class="d-flex align-content-center py-3">
                        <div class="col-11 align-content-center d-flex">
                            <span class="col-2 d-flex p-0">
                                @*style="max-width:24%; flex:24%"*@
                                <span class="col-1 p-0"></span>
                                @if (comment.User?.Photo == null)
                                {
                                    <img src="~/Images/bubble.jpeg" class="img-fluid rounded-circle col-10" />
                                }
                                else
                                {
                                    <img src="data:image/*;base64,@Convert.ToBase64String(comment.User?.Photo)" class="img-fluid rounded-circle col-10" />
                                }
                            </span>
                            <a class="mr-3 p-0 ml-0 col-4 align-self-center h6 text-primary" href="/Member/Profile/@comment.UserId">@comment.User.UserName</a>
                            <span class="align-self-center col-5">@comment.BodyText</span>
                        </div>
                        @if (comment.User.UserName == User.Identity.Name)
                        {
                            <a href="/Member/DeleteAComment/@comment.CID" class="h5 align-self-center col-1">&times;</a>
                        }
                    </div>
                }
            </div>
        }

    </div>

</div>

<!-- Post Likes List Modal -->
<div class="modal fade" id="LikesList" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="LikesListLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="LikesListLabel">People who liked</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="LikesListBody">

            </div>
        </div>
    </div>
</div>

<!--Edit info Modal  -->

<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel" data-toggle="ajax-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditModalLabel">Edit Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="info" class="modal-body">
                <form action="@Url.Action("EditProfile", "Member")" method="post">
                    <div class="form-group">
                        <input asp-for="@Model.Id" type="text" hidden class="form-control" id="Id" value="@Model.Id">
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.UserName" class="col-form-label">User Name </label>
                        <input type="text" class="form-control" id="username" required asp-for="@Model.UserName">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Gender</label>
                        <br />
                        <label><input asp-for="@Model.Gender" value="M" type="radio" required />Male</label>
                        <label><input asp-for="@Model.Gender" value="F" type="radio" required />Female</label>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.BirthDate" class="col-form-label">Birth Date :</label>
                        <input type="date" name="BirthDate" class="form-control" value="@bdate.GetDateTimeFormats()[0]" />
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.BIO" class="col-form-label">BIO </label>
                        <input type="text" class="form-control" asp-for="@Model.BIO">
                    </div>
                    <div class="form-group">
                        <center>
                            <input type="submit" value="Save" class="btn btn-outline-secondary" />
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="photoModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadPic" enctype="multipart/form-data">
                    <input type="file" name="pic" accept="Image/*" class="bg-light" />
                    <input type="submit" value="Update Photo" class="btn btn-primary" />
                </form>
            </div>            
        </div>
    </div>
</div>

@section scripts{
    <script>

        function OnSuccess() {
            $("#LikesList").modal('toggle');
        }

    </script>
}